@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: averta-regular;
  src: url(AvertaStd-Regular.ttf);
}
@font-face {
  font-family: averta-semibold;
  src: url(AvertaStd-Semibold.ttf);
}
@font-face {
  font-family: averta-bold;
  src: url(AvertaStd-Bold.ttf);
}
